body {
background-color: beige;
}
h1 { text-align: center;
color: red;
}
h2 { text-align: center;
color: blue;
}
p { text-align: center;
color: black;
}
body { text-align:center;
}
button {
background-color:red;
color:white;
border-radius:20px

}
